[Unit]
ConditionPathExists=/jarvis/docker-compose.media.yml
Description=Media
Requires=docker.service
After=docker.service

[Service]
Environment=SMART_HOUSE_DIR=/jarvis
Restart=always
User=root
StandardOutput=syslog
StandardError=syslog

ExecStart=/bin/zsh -l -c "/usr/bin/jarvis media up"
ExecStop=/bin/zsh -l -c "/usr/bin/jarvis media down"

[Install]
WantedBy=multi-user.target
